<template>
  <div style="text-align: center">
    <h1>Импорт пользователей</h1>
    <button @click="importUsers" :disabled="counterCircleShow">Импортировать пользователей</button>
    <p class="error" v-if="error">Произошла ошибка при импорте</p>
<!--    <lvProgressbar v-if="counterCircleShow" :value="percent" color="#447bba" />-->
    <p v-if="counterCircleShow">Загрузка...</p>
    <div class="counter" v-if="counterShow">
      <p>Всего <br> {{ totalUsers }}</p>
      <p>Добавлено <br> {{ addedUsers }}</p>
      <p>Обновлено <br> {{ updatedUsers }}</p>
    </div>

<!--    <ve-progress-->
<!--        v-if="counterCircleShow"-->
<!--        :progress="percent"-->
<!--        color="#447bba"-->
<!--        empty-color="#447bba"-->
<!--        :size="100"-->
<!--        :thickness="'5%'"-->
<!--        :empty-thickness="3"-->
<!--        lineMode="in 10"-->
<!--        animation="loop 700 1000"-->
<!--        fontSize="1.5rem"-->
<!--        font-color="#447bba"-->
<!--        dash="5"-->
<!--    />-->
  </div>
</template>

<script>
import { Inertia } from '@inertiajs/inertia'
import lvProgressbar from 'lightvue/progress-bar';
export default {
  components: {
    lvProgressbar,
  },
  data() {
    return {
      error: false,
      totalUsers: 0,
      addedUsers: 0,
      updatedUsers: 0,
      percent: 0,
      counterShow: false,
      counterCircleShow: false,
    }
  },
  computed: {
    isImporting() {
      return this.percent < 100 && this.counterCircleShow
    },
  },
  created() {
    window.Echo.channel('notification').listen('.import.users.update', (e) => {
      this.counterShow = true
      this.counterCircleShow = true
      this.totalUsers = e.data.total
      this.addedUsers = e.data.added
      this.updatedUsers = e.data.updated
      this.percent = e.data.percent
      this.error = false;
      if (this.percent > 99 || e.data.type === 'error') {
        this.counterCircleShow = false;
      }
      if(e.data.type === 'error'){
        this.counterCircleShow = false;
        this.error = true;
      }
    })
  },
  methods: {
    importUsers() {
      this.$inertia.post('/import', {}, {
        onSuccess: (resp) => {
          this.counterShow = true
          this.counterCircleShow = true
        },
        preserveState: true,
      })
    },
  },
}
</script>

<style>
body {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
html{
  height: 100%;
}
.error{
  color: red;
}
h1 {
  font-size: 20px;
  font-weight: bold;
  color: #447bba;
}
button {
  border: 0;
  cursor: pointer;
  margin: 25px auto;
  display: block;
  border-radius: 4px;
  font-size: 14px;
  padding: 7px 16px;
  color: #ffffff;
  background-color: #447bba;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.counter {
  margin: 20px auto;
  display: flex;
  width: 400px;
  flex-direction: row;
  justify-content: space-between;
}

.counter p {
  border: dashed 1px #5083be;
  background: #ffffff;
  padding: 10px;
  color: #5083be;
  width: 125px;
  border-radius: 50%;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="number"] {
  font-size: 15px;
  border-radius: 4px;
  outline: none;
  border: solid 2px #447bba;
  color: #447bba;
  font-weight: bold;
  margin-top: 2em;
  padding: 5px 5px;
  width: 238px;
}
.importUserName{
  font-weight: bold;
  opacity: .5;
  color: #447bba;
  text-align: left;
}
</style>
